<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.integration.mapper.EmployeeMapper">
    <resultMap id="EmployeeMapper" type="employee">
        <id property="employeeId" column="employee_id" javaType="long"/>
        <result property="employeeName" column="employee_name" javaType="java.lang.String"/>
        <result property="employeePhone" column="employee_phone" javaType="java.lang.String"/>
        <result property="employeeEmail" column="employee_email" javaType="java.lang.String"/>
    </resultMap>
    <sql id="basecolumn">
        (employee_id,employee_name,employee_phone,employee_email)
    </sql>
    <insert id="insertEmployee">
        insert into employee <include refid="basecolumn"/> values (#{employeeId},#{employeeName},#{employeePhone},#{employeeEmail})
    </insert>

    <select id="queryEmployee" parameterType="employee"  resultMap="EmployeeMapper">
        select * from employee t  where employee_id = #{employeeId}
    </select>

    <select id="queryEmployeeName"  resultType="java.lang.String">
        select employee_name from employee t where t.employee_id = 1
    </select>


</mapper>